<div class="container">
  <form [formGroup]="signInForm" (ngSubmit)="loginIn()">
    <app-input name="email" title="Email" [control]="emailField"></app-input>
    <app-input-pass name="password" title="Contraseña" [control]="passwordField"></app-input-pass>
    <!-- <app-input-pass name="confirmPassword" title="Verificar Contraseña" [password1]="passwordField.value"  [control]="confirmPasswordField">
    </app-input-pass> -->
    <div class="containerButtons">
      <app-button  [class]="'basic'" (onClick)="goToRegister()" [label]="'Registrarse'">
      </app-button>
      <app-button [type]="'submit'" [class]="'primary'" [label]="'Iniciar sesion'"></app-button>
    </div>
  </form>
</div>

